#sony-logo{
    background-color: black;
    height: 30px;
}
#ps-nav{
    background-color: rgb(82, 80, 80);
    height: 60px;
    
}

#jumbo_carousel{
    height: 600px;
    background-color: brown;
}

#explore{
    background-color: lightgrey;
}

.my_filler{
    background-color: aqua;
    border: 1px solid crimson;
    height: 100px;
}

.my_filler2{
    background-color: rgb(9, 124, 255);
    border: 1px solid crimson;
    height: 200px;
}

#hero{
    background-color: blue;
    height: 400px;
}

#explore_playstation{
    background-color: chocolate;
}

#play_plus{
    background-color: dimgrey;
}

#Sale_playstation{
    background-color: rgb(215, 252, 8);

}

#play_now{
    background-color: rgb(53, 53, 165);
}

#links{
    background-color: blueviolet;
}