body{
    font-family: Arial, Helvetica, sans-serif;
}

#sony-logo{
    background-color: black;
    height: 30px;
}


.my_filler{
    background-color: aqua;
    border: 1px solid crimson;
    height: 100px;
}

.my_filler2{
    background-color: rgb(9, 124, 255);
    border: 1px solid crimson;
    height: 200px;
}

#hero{
    background-color: blue;
    height: 400px;
}

#explore_playstation{
    background-color: chocolate;
}

#play_plus{
    background-color: dimgrey;
}

#Sale_playstation{
    background-color: rgb(215, 252, 8);

}

#play_now{
    background-color: rgb(53, 53, 165);
}

#links{
    background-color: blueviolet;
}
.my_navbar-image{
    width: 30px;
}
.dropdown-toggle{
    display: flex;
    align-items: center;
}

.dropdown-toggle::after{
    border: none;
    font: var(--fa-font-solid);
    content: "\f107" ;
}


.dropdown-toggle.show::after{
    content: "\f106" ;
}


.ms_hundred-img{
    width: 100%;
}
.card:hover{
    filter:drop-shadow(2px 4px 6px black);
}

.card{
    border: transparent;
}
ul{
    list-style-type: disc;
    color: rgb(42, 109, 233);
}
.deco_t{
  text-decoration: none;
  color: black;
}

.deco_t:hover{
    color: cornflowerblue;
  }

/* end navbar */
.returnal-img{
    width: 60%;
}


.site_img,
.carousel-img{
    width: 100%;
    border-radius: 16px;
}

.btn:hover{
   color: white;
    
}

.carousel-img:hover{
 border: 5px solid cornflowerblue;
 padding: 2px;
 animation-name: bounce;
 animation-timing-function: ease-in-out;
 animation-duration: 3s;
 transition: 2s;
 
}



@keyframes bounce{
    0%   { transform: translateY(0); }
    50% { transform: translateY(-20px);}
    100%   { transform: translateY(0);} 
}


#my_jumbotron{
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 220px 0 80px 0;
}


.Slider_effect{
    opacity: 0.6;
}

.Slider_effect:hover{
    opacity: 1;
    border-bottom: 4px solid rgb(13, 110, 253);
}
