body{
    font-family: Arial, Helvetica, sans-serif;
}

#sony-logo{
    background-color: black;
    height: 30px;
}


.my_filler{
    background-color: aqua;
    border: 1px solid crimson;
    height: 100px;
}

.my_filler2{
    background-color: rgb(9, 124, 255);
    border: 1px solid crimson;
    height: 200px;
}

#hero{
    background-color: blue;
    height: 400px;
}

#explore_playstation{
    background-color: chocolate;
}

#play_plus{
    background-color: dimgrey;
}

#Sale_playstation{
    background-color: rgb(215, 252, 8);

}

#play_now{
    background-color: rgb(53, 53, 165);
}

#links{
    background-color: blueviolet;
}
.my_navbar-image{
    width: 30px;
}
.ms_hundred-img{
    width: 100%;
}
.TENDA{
    width: 100vw;
    margin-left: -80px;
}

.returnal-img{
    width: 60%;
}
.returnal-img2{
    width: 100%;
    border-radius: 16px;
}

.returnal-img2:hover{
 border: 5px solid cornflowerblue;
 padding: 2px;
}

#my_jumbotron{
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 220px 0 80px 0;
}

.btn_orange{
    background-color: orangered;
} 
